.grandparent {
  position: relative;
  width: 40vw;
  height: 100vh;

}

.parent {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 80vh;
}

.childleft {
  width: 20vw;
  height: 80vh;
  background-color: cadetblue;
  color: cornflowerblue;
  font-size: 3vh;
  justify-content: flex-start;
}

.childleft:hover {
  color: yellowgreen;
}

.childright {
  width: 20vw;
  height: 80vh;
  background-color: cornflowerblue;
  text-align: center;
  font-size: 3vh;
  color: cadetblue;
  text-align: stretch;
}

.childright:hover {
  color: limegreen;
}

.bol {
  position: absolute;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 20px solid color mediumseagreen;
  background-color: white;
  font-size: 5vh;
  color: rgb(160, 160, 36);
  padding: 5vw;

  text-align: center;
  transition-property: width, height;
}

.bol:hover {
  background-color: rgb(230, 239, 111);
  /*background-image: radial-gradient(red, yellow);*/
  width: 45vw;
  height: 45vw;
  color: whitesmoke;

  transition: 6s;
}

.parent2 {
  display: flex;
  width: 40vw;
  height: 20vh;
  background-color: lightgreen;
  justify-content: center;
  align-items: center;
}

.titel {
  color: whitesmoke;
  font-size: 40px;
  text-align: center;
  text-justify: center;
  padding: 5px;
}

.titel:hover {
  color: cornflowerblue;
}