body {
    justify-content: center;
    align-items: center;
    background: url("wolken2.jpg.800x600_q96.png.pagespeed.ic.99BoZN0dAI.webp") no-repeat center center scroll;
    background-size: cover;

}

.navbar {
    background-color: palevioletred;
    padding-top: 5%;
    padding-bottom: 5%;
    opacity: 0.8;
}

.navbar-brand {
    font-size: 300px;
    padding-right: 20%;
    color: white;
}

.nav {
    float: right;
}

.hoofdzak {
    text-align: center;
    order: 5px solid green;
    padding-top: 5%;
    padding-bottom: 20%;
}

h1 {
    color: darkred;
    text-shadow: 2px 2px 4px palevioletred;

}

.zak1 {
    padding-top: 4%;
    padding-bottom: 4%;

}

.zak2 {
    padding: 0px;
}

.zak3 {
    padding-top: 5%;
    padding-bottom: 10%;

}

#input-vertrek {
    box-shadow: 2px 2px 6px;
    text-align: center;
}


#output-seats {
    box-shadow: 2px 2px 6px;
    text-align: center;

}

#final-price {
    box-shadow: 2px 2px 6px;
    margin-top: 5px;
    text-align: center;
}


#button-form {
    margin-top: 5%;
    box-shadow: 2px 2px 6px;


}

#bookTicket {
    background-color: rgb(244, 222, 96);
    box-shadow: 2px 2px 6px;
}

#bookTicket:hover {
    color: red;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 110%;
    background-color: palevioletred;
    color: white;
    text-align: center;
}