.grandparent {
  margin: auto;
  position: relative;
  height: 100vh;
  width: 25vw;
  background-color: white;
}

.parent {
  position: relative;
}

.childgold {
  height: 40vh;
  width: 25vw;
  background-color: gold;
}

.childred {
  height: 40vh;
  width: 25vw;
  background-color: red;
}

.childbol {
  position: absolute;
  top: 20vh;
  left: calc(12.5vw - 20vh);
  border-radius: 50%;
  height: 40vh;
  width: 40vh;
  max-width: 20vw;
  background-color: white;
  justify-content: center;
}

.childbol:hover {
  background-color: skyblue;
  cursor: pointer;
}

.parent2 {
  display: flex;
}

.childname {
  height: 20vh;
  width: 25vw;
  /*font-family: "Literata", serif;*/
  font-family: "Courier New";
  font-size: 40px;
  color: black;
  text-align: center;
  padding-top: 2vh;
  background-color: skyblue;
}

#mousepicture {
  width: 60vh;
  margin-bottom: 50vh;
  clear: left;
  margin-left: -5vw;
  margin-top: -7vh;

  position: relative;
}

#mousepicture:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}