body {
  background-color: darkslategray;
}

body:hover {
  background-color: white;
}

.grandparent {
  position: relative;
  width: 40vw;
  height: 90vh;
  margin: auto;
  border: 2px solid grey;
}

.parent {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 70vh;
}

.childleft {
  width: 20vw;
  height: 70vh;
  background-color: cadetblue;
  color: cornflowerblue;
  font-size: 3vh;
  justify-content: flex-start;
}

.childleft:hover {
  color: yellowgreen;
}

.childright {
  width: 20vw;
  height: 70vh;
  background-color: cornflowerblue;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  font-size: 3vh;
  color: limegreen;
  text-align: stretch;
}

.childright:hover {
  color: rgb(96, 93, 116);
}

.bol {
  position: absolute;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  border: 2px solid grey;
  background-color: white;
  color: white;
  font-size: 0px;
  padding: 5vw;
  box-shadow: 5px 10px 5px lightblue;

  text-align: center;
  transition-property: width, height;
}

.bol:hover {
  /*background-color: gold;*/
  background-image: radial-gradient(gold, rgb(255, 0, 55));
  width: 45vw;
  height: 45vw;
  color: rgb(253, 112, 61);
  font-size: 10vw;
  border: 50px dashed white;
  transition: 10s;
}

.parent2 {
  display: flex;
  width: 40vw;
  height: 20vh;
  background-color: lightgreen;
  justify-content: center;
  align-items: center;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

.titel {

  color: whitesmoke;
  font-size: 10vw;
  text-align: center;
  text-justify: center;
  padding: 5px;
}

.titel:hover {
  color: cornflowerblue;
}